body {
    max-width:100%;
    padding:50px;
    background:#d3d3d3
}

#gifs-appear-here {
    max-width:70%
}

.gif-box {
    float:left;
    margin:20px;
}

.gif-button {
    margin:5px;
}

.gif-button.hover {
    color:yellow;
}

#gif-submit {
    margin-top:10px
}

#search-bar {
    float:right;
}

form {
    display:block;
}


/* #button-toolbar {
    display:flex;
    justify-content: space-between;
} */